body{
    min-height: 100vh;
    margin: 0;
    background: conic-gradient(from 0deg at 50% 50%, orange, red, purple, blue, orange);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box{
    padding: 12px;
    background: white;
    border-width: 6px;
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    font-family: Arial;
}